body{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 32px;
    background-color: rgb(44, 44, 44);
    color: white;
}

h1{
    color:rgb(91, 239, 135);
    font-size: 60px;
    font-family: 'Courier New', 'Courier','monospace';
}

img {
    width: 400px;
    border: 5px solid rgb(91, 239, 135);
    border-radius: 20px;
}

.blog img{
    border-color: purple;
}

p{
    background-color: white;
    color: black;
    padding: 50px 20px;
    border-radius: 30px;
}

.red-text{
    color: red;
}

.bold-text{
    font-weight: bolder;
    border: 1px solid black;
}

.description{
    font-size: 26px;
    text-align: center;
}

.title{
    font-size: 60px;
    text-decoration: underline;
    color: red;
    text-align: center;
}

.blog .title{
    color: aqua;
}

#page-title{
    color: purple;
}

.subtitle{
    text-align: center;
}

.red-text.subtitle{
    color: green;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}